*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.3rem;
  /* background-color: #f1f1f1; */
}
.btn.check{
  background: green;
}
.btn.remove{
  background: red;
}
.todoList .header{
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  font-weight: 200;
  background-color: #268da3;
  font-family: 'Oleo Script', cursive;
}
.sort select {
  width: 30%;
  margin: 1rem 9rem;
  background: #f1f1f1;
  padding: 5px;
  outline: none;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}
::placeholder{
  font-size: 0.9rem;
  font-family: 'Space Grotesk', sans-serif;
  color: #268da3;
}
.btn,
select,
input {
  border: none;
  padding: 5px;
  margin: 0.5rem 0.3rem;
  font-size: 0.9rem;
  background: #f1f1f1;
  border-radius: 0.3rem;
  
}
.todos{
  list-style: none;
}
.todos li {
  margin: 1.3rem 0;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  column-gap: 1.5rem;
  align-items: center;
  color: #fff;
  background: #268da3;
  border-radius: 0.3rem;
}
.todoList{
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 700px;
  background: #268da3;
  box-shadow: 4px 4px 10px rgba(33, 33, 33, 0.2);
  border-radius: 10px;
}
.content{
  padding-right: 1rem;
  font-family: 'Space Grotesk', sans-serif;
}
p.content{
  font-size: 1rem;
  font-weight: 900;
}
option{
  color: #268da3;
}
.btn.add{
  background-color: #f1f1f1 !important;
  font-size: 1.1rem;
  padding: 0.25rem;
  width: 12%;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  .todoList{
    width: 100%;
  }
  .todos li {
    column-gap: 0.5rem;
  }
  .sort select{
    width: 45%;
    margin-left: 1px;
  }
}